# Compiled Object files
*.slo
*.lo
*.o
*.s
*.obj

# vim swap files
.*.swp
.*.swo

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.clang_complete

build-*
bazel-*
.clangd/
.vscode/
compile_commands.json
build/*